*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1920px;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    height: 100%;
    padding: 0 17%;
    margin: 0;
    overflow: hidden;
}

/* HEADER */

.header .container {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #1B1B1B;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 10%;
}

.header .container p {
    color: white;
    font-size: 24px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
}


.header .container a {
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
    padding-left: 25px;
}

.button_feedback {
    padding: 8px 24px;
    border-radius: 25px;
    background-color: #ffffff00;
    border: 2px solid #F86064;
    color: #F86064;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* !HEADER */

/* BANNER */

.banner .container {
    background-color: #1B1B1B;
    background-image: url(/img-jpg/937f7ae0ec2fc80d972697152c32d2af-topaz-enhance-2\ 1.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
}


.banner-elements {
    padding: 17% 0;
}

.banner .container h1 {
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.banner .container p {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding-top: 60px;
}

.banner .container .btn-appeal {
    padding: 16px 28px;
    background-color: #F86064;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-top: 60px;
}

/* !BANNER */

/* ABOUT US */

.aboutus {
    width: 100%;
    height: 884px;
    background-color: #1B1B1B;
    display: flex;
}

.aboutus .container {
    padding: 7% 6%;
    display: flex;
}

.aboutus .container img {
    border-radius: 15px;
    margin-right: 44px;
}

.aboutus .container h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.aboutus .container p {
    width: 580px;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding-top: 44px;
}

.aboutus .container .btn-appeal {
    padding: 16px 28px;
    background-color: #F86064;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-top: 44px;
}

/* !ABOUT US */

/* SWIPER */

.swiper {
    width: 100%;
    height: 981px;
    background-color: #1B1B1B;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.swiper .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

.swiper .container h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    padding-bottom: 64px;
}

.swiper .container h3 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin: 0;
}

.swiper-block {
    width: 1070px;
    display: flex;
    align-items: center;
    margin-top: 34px;
    justify-content: space-between;
}

.swiper-arrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    
}

.swiper .container img {
    border-radius: 15px;
    height: auto;
}

.swiper-items img {
    padding-right: 12px;
    width: 28px;
    height: auto;
}

.arrow-01 {
    padding: 22px ;
    transform: rotate(180deg);
}

.arrow-02 {
    padding: 22px;
}

.curcle-arrows {
    height: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}


.ellipse_02 {
    fill: #e0e0e0;
}

/* !SWIPER */

/* HOW WORK */

.howWork {
    background-color: #1B1B1B;
    display: flex;
}

.howWork .container {
    padding-top: 7%;
    padding-bottom: 7%;
}


.howWork-blocks {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 30px;
    

}


.howWork .container h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
}

.howWork-stiker {
    font-size: 14px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 51px;
    height: 29px;
    background-color: #F86064;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.howWork-block-01 {
    width: 48%;
    height: 239px;
    background-color: #333333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 1 1 48%;
    display: flex;
    justify-content: space-around;
    align-items: top;
    padding: 16px 40px 32px 24px;
}

.howWork-block-02{
    width: 100%;
    height: 180px;
    background-color: #333333;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 16px 40px 25px 24px;
}

.howWork-stiker-02 {
    font-size: 14px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 51px;
    height: 29px;
    background-color: #F86064;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.howWork .container h4 {
    font-size: 24px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.howWork .container p {
    font-size: 17px;
    font-weight: 400;
    color: white;
    font-family: "Roboto", sans-serif;
}


.btn-howWork {
    width: 188px;
    height: 52px;
    background-color: #F86064;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-top: auto;
}

/* !HOW WORK */

/* PARTNERS */

.partners {
    width: 100%;
    height: 976px;
    background-color: #1B1B1B;
}

.partners .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7% 6%;
}

.partners-direction {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.partners-mainPicture {
    width: 788px;
    height: 728px;
    border-radius: 15px;
    margin-right: 44px;
}

.partners .container h2{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-bottom: 24px;
}

.partners .container h4{
    font-size: 24px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 24px;
}

.partners-groupDirection {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.partners-items {
    display: flex;
    align-items:start ;
    gap: 8px;
}

.partners-littlePicture {
    width: 19px;
    height: 15px;
    margin-top: 4px;
}
.partners .container p{
    width: 580px;
    font-size: 17px;
    font-weight: 400;
    color: white;
    font-family: "Roboto", sans-serif;
}

.partners .btn-appeal {
    padding: 16px 28px;
    background-color: #F86064;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-top: 40px;
}




/* !PARTNERS */

