*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1920px;
}

.container{
    width: 100%;
    height: 100%;
    padding: 0 17%;
}

/* HEADER  */

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 0;
    background-color: #1B1B1B;
}

.header .container p {
    margin: 0;
    color: white;
    font-size: 24px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
}


.header-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header .container a {
    padding: 0 0 0 25px;
    margin: 0; 
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.header_links .link-01 {
    padding: 0;
}

.button_feedback {
    padding: 8px 24px;
    border-radius: 25px;
    background-color: #ffffff00;
    border: 2px solid #F86064;
    color: #F86064;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* !HEADER */

/* BANNER */

.banner .container {
    width: 1920px;
    height: 824px;
    background-color: #1B1B1B;
    position: relative;
    background-image: url(/img-jpg/937f7ae0ec2fc80d972697152c32d2af-topaz-enhance-2\ 1.jpg);
}

.banner .container h1 {
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin: 0;
}

.banner .container p {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-top: 60px;
    margin-bottom: 0;
}

.btn-appeal {
    padding: 16px 28px;
    background-color: #F86064;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-top: 47px;
}

.container_elements {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* !BANNER */

/* ABOUT US */

.about {
    width: 1920px;
    height: 884px;
    background-color: #1B1B1B;
    position: relative; 
    display: flex;
    justify-content: space-around;
}

.about .container {
    padding-top: 125px;
    padding-bottom: 125px;
    display: flex;
    justify-content: space-between;
}

.about .container img {
    border-radius: 15px;
    margin-right: 44px;
}

.about .container h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.about .container p {
    width: 580px;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

/* !ABOUT US */

/* SERVICES */

.services {
    width: 1920px;
    height: 981px;
    background-color: #1B1B1B;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_scrolling h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    padding-bottom: 64px;
    margin: 0;
}

.container_scrolling h3 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    padding-right: 222px;
    margin: 0;
}

.container_scrolling .scroll_group {
    width: 1070px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;

    
}


.scroll_elements img {
    width: 15px;
    height: auto;
    padding-right: 12px;
    margin: 0;
}

.scroll_elements .ellipse_04 {
    padding: 0;
}

