*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1920px;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 17%;
    margin: 0;
}

/* HEADER */

.header .container {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #1B1B1B;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 10%;
}

.header .container p {
    color: white;
    font-size: 24px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
}


.header .container a {
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
    padding-left: 25px;
}

.button_feedback {
    padding: 8px 24px;
    border-radius: 25px;
    background-color: #ffffff00;
    border: 2px solid #F86064;
    color: #F86064;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* !HEADER */

/* BANNER */

.banner .container {
    background-color: #1B1B1B;
    background-image: url(/img-jpg/937f7ae0ec2fc80d972697152c32d2af-topaz-enhance-2\ 1.jpg);
}


.banner-elements {
    padding: 17.8% 0;
}

.banner .container h1 {
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.banner .container p {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding-top: 60px;
}

.banner .container .btn-appeal {
    padding: 16px 28px;
    background-color: #F86064;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-top: 60px;
}

/* !BANNER */

/* ABOUT US */

.aboutus {
    width: 1920px;
    height: 884px;
    background-color: #1B1B1B;
    display: flex;
}

.aboutus .container {
    padding: 125px 6%;
    display: flex;
}

.aboutus .container img {
    border-radius: 15px;
    margin-right: 44px;
}

.aboutus .container h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.aboutus .container p {
    width: 580px;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding-top: 44px;
}

.aboutus .container .btn-appeal {
    padding: 16px 28px;
    background-color: #F86064;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-top: 44px;
}

/* !ABOUT US */

/* SWIPER */

.swiper {
    width: 1920px;
    height: 981px;
    background-color: #1B1B1B;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.swiper .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 0;
}

.swiper .container h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    padding-bottom: 64px;
}

.swiper .container h3 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    padding-right: 222px;
    margin: 0;
}

.swiper-block {
    width: 1070px;
    display: flex;
    align-items: center;
    margin-top: 34px;
}

.swiper-arrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    
}

.swiper .container img {
    border-radius: 15px;
    height: auto;
}

.swiper-items img {
    padding-right: 12px;
    width: 28px;
    height: auto;
}

.arrow-01 {
    padding: 22px ;
    transform: rotate(180deg);
}

.arrow-02 {
    padding: 22px;
}

.curcle-arrows {
    height: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}


.ellipse_02 {
    fill: #e0e0e0;
}

/* !SWIPER */

/* HOW WORK */

.howwork {
    width: 1920px;
    height: 1086px;
    background-color: #1B1B1B;
    display: flex;

}

.howwork .container {

}

.howwork .container h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    padding-bottom: 64px;
}

.howwork-stiker {
    font-size: 14px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 51px;
    height: 29px;
    background-color: #F86064;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.howwork-block-01 {
    width: 630px;
    height: 239px;
    background-color: #333333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}

.howwork-block-02{
    width: 1290px;
    height: 180px;
    background-color: #333333;
    border-radius: 8px; 
}



.howwork .container h4 {
    font-size: 24px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.howwork .container p {
    font-size: 17px;
    font-weight: 400;
    color: white;
    font-family: "Roboto", sans-serif;
}

.btn-howwork {
    width: 188px;
    height: 52px;
    background-color: #F86064;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}